
body{
  background-color: #D8D8D8;
}
.active{
  background-color: blue;
  color: white;
}
.custom-form {
  margin-right: 20px;
  margin-top: 10px;
}


/* Form Group styles */
.custom-form-group {
  margin-bottom: 1rem;
}
/* Label styles */
.custom-form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Input styles */
.custom-input {
  display: block;
  width: 330%;
  border: 0;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px #d1d5db inset;
  border-radius: 4px;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-input-m {
  border: 0;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px #d1d5db inset;
  border-radius: 5px;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input::placeholder {
  color: #9ca3af;
}

.custom-input:focus {
  border-width: 2px;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.25) inset;
}

/* Button styles */
.custom-button {
  display: block;
  margin: auto;
  margin: 8px;
  margin-top: 12px;
  background-color: #2563eb;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 4px;
  cursor: pointer;
   border-style: none;
  transition: background-color 0.3s ease;
}
.custom-button-F {
  display: block;
  margin: auto;
  margin: 8px;
  margin-top: 18px;
  background-color:  #4DB6AC;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #1e40af;
}
.custom-button-3 {
  display: block;
  margin: auto;
  margin: 8px;
  margin-top: 12px;
  background-color: #4DB6AC;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}

.custom-space-y-10 {
  margin-top: 40px; /* Adjust margin as needed */
}

.custom-flex {
  display: flex;
  align-items: center;
  gap: 2px;
}

.custom-flex-2 {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.custom-flex-3 {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  color: white;
  margin-bottom: 10px; 
  gap: 10px; 
}

.custom-gap-x-2 {
  gap: 0.5rem; /* Adjust gap as needed */
}

.custom-label {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #333333;
}

.custom-radio {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #ccc;
  color: #4f46e5;
  cursor: pointer;
}

.custom-inputs {
  display: block;
  width: 100%;
  border: 0;
  padding: 0.375rem 0;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
}

/* Button 1 styles */
.custom-button-1 {
  font-weight: bold;
  padding: 0.75rem 2rem;
  background-color: #1e40af;
  color: #ffffff;
  border-radius: 0.375rem;
  cursor: pointer;
}
.custom-button-1:hover {
  background-color:#2563eb ;
}

/* Button 2 styles */
.custom-button-2 {
  font-weight: bold;
  padding: 0.75rem 2rem;
  background-color:#009688; 
  color: #ffffff;
  border-radius: 0.375rem;
  cursor: pointer;
}
.tit .menu-container{
  margin-top: -20px;
}
.custom-button-2:hover {
  background-color: #4DB6AC;
}
.custom-label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #333333;
}

@media (min-width: 640px) {
  .custom-card {
    grid-column: span 10; /* sm:col-span-2 */
    grid-column-start: 1; /* sm:col-start-1 */
  }
}
.use{
  display: flex;
  justify-content: space-between;
}
.use-2{
  display: flex;
}
.custom {
  display: block;
  width: 100%;
  border: 0;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
}
.custom
.custom-space-y-12 {
  margin-top: 48px; /* Adjust margin as needed */
}

.custom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}
.company{
  width: 500%;
}
.input {
  display: block;
  width: 2000%;
  border: 0;
  padding: 8px;
  resize: none;
  color: #333333;
  box-shadow: 0 0 0 1px #d1d5db inset;
  border-radius: 4px;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-user {
  width: 250px;
  border: 0;
  height: 45px;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.text {
  width: 300px;
  border: 0;
  height: 45px;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.text12 {
  width: 240px;
  border: 0;
  height: 45px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.text124 {
  width: 200%;
  border: 0;
  height: 45px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.text121 {
  width: 250px;
  border: 0;
  height: 100px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.text-5 {
  width: 150%;
  margin-left: -40px;
  border: 0;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.text-59 {
  width: 370%;
  margin-left: -40px;
  border: 0;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.post-2{
    margin-left: -40px;
}
.sig{
  margin-top: 70px;
}
.sig-3{
  margin-top: 20px;
  margin-left: 50px;
}
.sig-33{
  margin-top: 20px;
  margin-left: 50px;
}
.sig-333{
  margin-top: 20px;
  margin-left: 5px;
}
.don{
  margin-left: 40px;
}
.textss {
  width: 252px;
  height: 300px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 30px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.texts {
  width: 252px;
  height: 318px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 30px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.prof{
  margin-left: 100px;
}
.texts-6 {
  width: 280px;
  height: 318px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 100px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.texts-9 {
  width: 280px;
  height: 318px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 100px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}
.texts-67 {
  width: 300px;
  height: 290px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 100px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
}

.texts-69 {
  width: 400px;
  height: 290px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 20px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
  margin-top: 40px;
}
.texts-67 {
  width: 400px;
  margin-top: -30px;
  height: 290px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 20px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
  margin-top: 1px;
}

.texts-690 {
  width: 400px;
  height: 290px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 20px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
  margin-top: 40px;
}
.texts-698 {
  width: 400px;
  height: 290px;
  top: 240px;
  left: 500px;
  border: 0;
  margin-left: 250px;
  border-style: solid;
  padding: 8px;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  resize: none;
  margin-top: 2px;
}

.custom-button {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 16px;
  background-color: #009688;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.profi{
   Width:171px;
   Height:45px;
   Top:1336px;
   Left:500px;
   margin-top: 30px;
   background-color: white;
    font-weight:550;
    margin-left: -40px;
    border-radius: 10px;
}
.profib{
  Width:171px;
  Height:45px;
  Top:1336px;
  Left:500px;
  background-color: #009688;
  color: white;
  margin-top: -20px;
  font-weight:550;
  margin-left: 30px;
  border-radius: 10px;
}
.custom-button-pro {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 30px;
  background-color: #009688;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-button-pros {
  display: block;
  margin: auto;
  width: 279px;
  height: 45px;
  margin-top: 10px;
  background-color: #3B5998;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #4DB6AC;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"]{
  cursor: pointer;
}
/*new style*/
.company-info-container {
  background-color: white;
  margin-top: 20px;
}
.company-info-heading {
  font-weight: bold;
  margin-top: 3px;
  text-align: left;
  margin-left: 10px;
}
.flex-container {
  display: flex;
  margin-left: 10px;
}
.form-container {
  margin-right: 20px;
  margin-top: 10px;
}
.group{
  margin-bottom: 10px;
}
.passm{
  display: flex;
  justify-content: space-between;
}
.button-container {
  margin-left: 10px;
  flex: 0 0 auto;
  max-width: 16.66667%;
  display: flex;
  justify-content: space-between;
}
.custom-submit {
  margin: 0 auto;
  margin-top: 6px;
  padding: 5px 30px;
  background-color: #3490dc; 
  color: #ffffff; 
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
}
.custom-submit-F {
  margin-left: 5px;
  margin-top: 6px;
  padding: 2px 30px;
  background-color: rgba(255, 0, 0, 0.596);
  color: #ffffff; 
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.custom-submit-2 {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-right: 9px;
  padding: 6px 50px;
  background-color: red; 
  color: #ffffff; 
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
}

.custom-submit:hover {
  background-color: #3182ce;
}
.pay-container {
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 50px;
}
.pay-spacing {
  margin-left: 4px;
  margin-right: 4px;
}

.pay-spacing > * {
  margin-bottom: 2.5rem;
}
.custom-pay {
  justify-content: flex-end;
  color: white;
  margin-bottom: 10px; 
  gap: 10px;
}
.custom-credit {
  background-color: #ffffff; 
  margin-top: 20px;
  margin-left: 50px;
}
.credit-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  padding-bottom: 12px;
}
.credit-spacing {
  margin-top: 2px;
}

.credit-spacing > * {
  margin-bottom: 1.25rem; 
}
.credit-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
  gap: 8px 6px;
}

@media (min-width: 640px) {
  .credit-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr)); 
  }
}
@media screen and (min-width: 640px) {
  .credit-columns {
    grid-column: span 2;
    grid-column-start: 1;
  }
}
.fles{
  display: flex;
  justify-content: space-between;
}
.card-holder {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5; 
  color: #333; 
}
.user-container {
  background-color: #ffffff; 
  margin-top: 20px; 
  margin-left: 50px; 
}
.user-container-profile {
  background-color: #ffffff; 
  margin-top: 20px; 
  margin-left: 50px;
  display: flex;
  justify-content: space-between; 
}
.user-container-2 {
  background-color: #ffffff; 
  margin-top: 20px;
  margin-left: -50%;
}
.user-title {
  font-weight: bold;
  margin-top: 3px;
  margin-left: 20px;
}
.unavailableRow td {
  background-color: #ccc;
}
.imgProfileStyle {
  height: 180px; 
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 2px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.imgProfileStyles {
  width: 120px;
  height: 130px; 
  margin-left: 20px;
  margin-right: auto;
  border-radius: 70px;
  margin-bottom: 2px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.user-button {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin: 2px;
  margin-top: 6px;
  background-color: #00bcd4; 
  color: #fff; 
  font-weight: bold; 
  padding-top: 6px; 
  padding-bottom: 6px; 
  padding-left: 80px; 
  padding-right: 80px;
  border-radius: 0.25rem; 
}

.user-button:hover {
  background-color: #0097a7; 
}
.user-button-1 {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin: 2px;
  margin-top: 6px;
  background-color: #3B5998; 
  color: #fff; 
  font-weight: bold; 
  padding-top: 6px; 
  padding-bottom: 6px; 
  padding-left: 80px; 
  padding-right: 80px;
  border-radius: 0.25rem; 
}

.user-button:hover {
  background-color: #0097a7; 
}
.form-user{
  margin-right: 10px;
  margin-top: 10px;
}
.user-row {
  display: flex; 
  align-items: center; 
  margin-right: 60px;
}
.user-row-add {
  display: flex; 
  align-items: center; 
  margin-right: 20px;
}
.user-row-9 {
  display: flex; 
  align-items: center; 
  margin-left: 60px;
}
@media screen and (min-width: 992px) {
  .custom-column {
    flex: 0 0 50%;
    max-width: 40%;
    margin-left: -10px;
  }
}
@media screen and (min-width: 992px) {
  .custom-column-p {
    flex: 0 0 50%;
    max-width: 40%;
    margin-left: 30px;
  }
}
@media screen and (min-width: 992px) {
  .custom-column-40 {
    flex: 0 0 50%;
    max-width: 40%;
    margin-top: -10px;
    
  }
}
@media screen and (min-width: 992px) {
  .custom-column-2 {
    flex: 0 0 50%; 
    max-width: 50%; 
    margin-left: 40px;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .custom-column-23 {
    flex: 0 0 50%; 
    max-width: 50%; 
    margin-left: 50px;
    margin-top: -10px;
  }
}
.lines{
  margin-bottom: 1px;
}
.lines-2{
  margin-bottom: 1px;
  text-align: center;
  margin-left: 10%;
  margin-right: auto;
  width: 100%;
}
.menu-container {
  height: 90px;
  margin-top: 20px;
  margin-right: 10px; 
  margin-left: 10px; 
}
.menu {
  margin-right: 3px; 
  margin-left: 90px;
  display: flex; 
  flex-direction: column; 
  background-color: #ffffff; 
  border-right: 1px solid #e5e5e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-set {
  padding: 0.75rem;
  display: flex;
  border-top: 1px solid #e5e5e5;
}
.menu-avatar {
  height: 3.5rem; 
  width: 3rem;
  border-radius: 9999px;
  border: 0.1rem solid #e5e5e5;
}
.menu-text-1 {
  font-weight: bold; 
  margin-top: 0.5rem;
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.menu-text-2 {
  font-size: 0.75rem; 
  color: #808080; 
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.menu-flex-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-left: 0.75rem; 
}
.menu-link {
  font-weight: 500; 
  color: #000;
  display: flex; 
  gap: 0.625rem; 
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 0.625rem;
  transition: background-color 0.3s ease; 
  border-radius: 0.375rem; 
  margin-top: 20px;
}

.menu-link:hover {
  background-color: #ADD8E6; 
  padding-left: 6px;
}
.changed:hover {
  background-color:red;
  color: blue;
}
.menu-style {
  display: flex; 
  gap: 0.75rem; 
  margin-right: 1.25rem; 
  color: #000; 
}
.menu-top{
  padding-top: 3px;
}
.main{
  display: flex;
  justify-content: space-between;
}
.sec{
  margin-top: 20px;
  margin-left: 20px;
}
.m-d-s{
  Width:110px;
Height:45px;
Top:99px;
Left:300px;
background-color: #F8B602;
color: white;
font-weight: 400;
size: 18px;
}